name: solvro_config
description: A Flutter and Dart linter/config package for Solvro projects.
version: 1.3.0

repository: https://github.com/Solvro/lib-mobile-solvro-config

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.38.0"

dependencies:
  args: ^2.7.0
  cli_completion: ^0.5.1
  mason_logger: ^0.3.3
  pub_updater: ^0.5.0
  # accessibility_lint:
  # # dart_cognitive_complexity:
  # # flutter_gen_linter:
  flutter_hooks_lint: ^1.4.0
  # freezed_lint:
  # l10n_lint:
  # # plural_lint:
  # pyramid_lint:
  riverpod_lint: ^3.1.0
  total_lints: ^3.10.0
  # altive_lints: ^1.23.0
  commitlint_cli: ^0.8.1
  husky: ^0.1.7
  lint_staged: ^0.5.1
  process_run: ^1.2.4

lint_staged:
  "lib/**.dart": dart format && dart fix --apply

dev_dependencies:
  build_runner: ^2.10.4
  build_verify: ^3.1.1
  build_version: ^2.1.3
  mocktail: ^1.0.4
  test: ^1.27.0

executables:
  solvro_config:
